<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
ind
<!--<#&#45;&#45;<table>&ndash;&gt;-->
    <!--<#&#45;&#45;<tr>&ndash;&gt;-->
        <!--<#&#45;&#45;<th>NAME</th>&ndash;&gt;-->
        <!--<#&#45;&#45;<th>PRICE</th>&ndash;&gt;-->
        <!--<#&#45;&#45;<th>IN STOCK</th>&ndash;&gt;-->
    <!--<#&#45;&#45;</tr>&ndash;&gt;-->
    <!--<#&#45;&#45;<tr>&ndash;&gt;-->
    <!--<#&#45;&#45;<#list list as employees>&ndash;&gt;-->
        <!--<#&#45;&#45;<td>${employees.id}</td>&ndash;&gt;-->
        <!--<#&#45;&#45;<td>${employees.fname}</td>&ndash;&gt;-->
        <!--<#&#45;&#45;<td>${employees.lname}</td>&ndash;&gt;-->
    <!--<#&#45;&#45;</#list>&ndash;&gt;-->
    <!--<#&#45;&#45;</tr>&ndash;&gt;-->
<!--<#&#45;&#45;</table>&ndash;&gt;-->

</body>
</html>